<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #ff6f61;
            font-size: 50px;
        }
        p {
            font-size: 20px;
            color: #333;
        }
        a {
            color: #ff6f61;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1>Oops! Algo salió mal.</h1>
<p>Ocurrió un error inesperado. Por favor, vuelve a intentarlo más tarde.</p>
<p><a href="http://localhost:8080/swagger-ui/index.html">Volver al inicio</a></p>
</body>
</html>
